
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
 font-style: normal;
}

.nav-bar{
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 30px;
    margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.nav-btn{
    height: 57px;
    width: 244px;
    border-radius: 10px;
    color: #0D1321;
    font-weight: 700;
    font-size: 20px;
    background-color: white;
}
.nav-head{
  font-weight: bolder;
  font-size: 28px;
}
.hero{
    width: 100%;
    height: 600px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    margin-bottom: 60px;
}
.hero-content{
   text-align: center;
   padding-top: 30px;
   margin-right: 200px;
   margin-left: 200px;
 

}
.hero-image{
    margin-bottom: 32px;
   
}
.hero-p{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
}
.hero-head{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
}
.hero-button{
    height: 65px;
    width: 244px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.second-page{
    background-color: rgba(13, 19, 33, 2%);
    margin-left: 140px;
    margin-right: 140px;
   padding-left: 97px;
   padding-right: 97px;
   padding-top: 80px;
   padding-bottom: 80px;
   border-radius: 15px;
  
}
.se-head-con{
    text-align: center;
    margin-bottom: 48px;
}

.se-head{

    font-size: 32px;
    font-weight: bolder;
}

.se-p{

    font-size: 16px;
    color: #0D1321;
}
.card1 , .card2 , .card3{
    display: flex;
    gap: 32px;
    height: 280px;
    width: auto;
    background-color: white;
    padding: 48px;
    border-radius: 15px;
}
.card1{
    margin-bottom: 32px;
    padding-bottom: 48px;
    padding-top: 48px;
}

.card2{
    margin-bottom: 32px;
}
.ch{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 70%);
    margin-bottom: 16px;
}
.cp{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 45px;
}
.cbu{
    height: 40px;
    width: 165px;
    background-color: white;
    color: #0D1321;
    font-size: 16px;
    font-weight: 600;
}